body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #89aee6;
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 1em;
}

.schedule {
    overflow-x: auto;
    margin-bottom: 20px;
}

.table-container {
    width: 90%;       /* Занимает 90% ширины экрана (можно настроить) */
    max-width: 600px;  /* Ограничение максимальной ширины (по желанию) */
    margin: 20px auto; /* Центрирование по горизонтали + отступ сверху/снизу */
    overflow-x: auto;   /* Добавить горизонтальную полосу прокрутки, если таблица не помещается */
    border: 1px solid #ccc; /* Рамка для таблицы */
    border-radius: 5px;      /* Скругление углов таблицы */
    padding: 10px;        /* Отступы внутри контейнера таблицы */
}

table {
    width: 100%;       /* Таблица занимает всю ширину контейнера */
    border-collapse: collapse; /* Убрать двойные границы */
}

th, td {
    padding: 0.5em;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap; /* Запретить перенос текста в ячейках */
}

th {
    background-color: #f0f0f0;
}

img {
    max-width: 80%;
    height: auto;
    display: block; /* Убирает лишний отступ под картинкой */
    margin: 0 auto; /* Центрирует изображение */

}


